.ma{
    margin-left: 20px;
}

@media only screen and (min-width: 768px) {
    .tour-search-one__inner{
        padding-right: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .hometitle{
        text-align: center;
    }
    .site-footer{
        text-align: center;
    }
}

h3.titre{
    color: #0D233E;
    text-align: center;
}
.body{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}
