{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <section class="page-header" style="background-image: url({{asset('images/backgrounds/ribatour-tours.jpg')}});">
        <div class="container">
            <h2>Contact</h2>
        </div><!-- /.container -->
    </section><!-- /.page-header -->
    <section class="contact-info-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-info-one__single">
                        <div class="contact-info-one__icon">
                            <i class="tripo-icon-placeholder"></i>
                        </div><!-- /.contact-info-one__icon -->
                        <div class="contact-info-one__content">
                            <p>Rue Outman Appt 10 N 586 <br>
                                40000, MARRAKECH - MOROCCO</p>
                        </div><!-- /.contact-info-one__content -->
                    </div><!-- /.contact-info-one__single -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="contact-info-one__single">
                        <div class="contact-info-one__icon">
                            <i class="tripo-icon-phone-call"></i>
                        </div><!-- /.contact-info-one__icon -->
                        <div class="contact-info-one__content">
                            <p>Local: <a href="tel:+212 245 111 000">+212 245 111 000</a> <br>
                                Mobile: <a href="tel:+123-456-hello">+ 123 456 hello</a></p><br>
                        </div><!-- /.contact-info-one__content -->
                    </div><!-- /.contact-info-one__single -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="contact-info-one__single">
                        <div class="contact-info-one__icon">
                            <i class="tripo-icon-message"></i>
                        </div><!-- /.contact-info-one__icon -->
                        <div class="contact-info-one__content">
                            <p><a href="mailto:needhelp@tripo.com">contact@ribatours.com</a> <br>
                                <a href="mailto:info@tripo.com">info@ribatours.com</a></p><br>
                        </div><!-- /.contact-info-one__content -->
                    </div><!-- /.contact-info-one__single -->
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.contact-info-one -->

    <section class="contact-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-one__content">
                        <div class="block-title text-left">
                            <p>Contacter Nous</p>
                            <h3>Vous avez des questions? <br></h3>
                        </div><!-- /.block-title -->
                        <div class="contact-one__content-text">
                            <p>Contacter nous sur les reseaux sociaux </p>
                        </div><!-- /.contact-one__content-text -->
                        <div class="contact-one__social">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div><!-- /.contact-one__social -->
                    </div><!-- /.contact-one__content -->
                </div><!-- /.col-lg-5 -->
                <div class="col-lg-7">
                    {{ form(contactForm) }}
                </div><!-- /.col-lg-7 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.contact-one -->

{% endblock %}
