<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
            <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
            <script src="{{ asset('js/script.min.js') }}"></script>
        {% endblock %}

        {% include 'footer.html.twig' %}
    </body>
</html>
