{% block footer %}
    <div class="footer main-footer">
        <div class="footer-top">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 footer-col ">
                        <h4 class="footer-title">A propos</h4>
                        <div class="footer-col-content">
                            <p>
                                Ribat Tours est une agence de voyages et de Tourisme, crée en Mars 1983 et agrée par le
                                ministère de Tourisme au Maroc. Ribat Tours est spécialisé dans les voyages culturels,
                                sportifs, le trekking de tous ses genres, des séjours, des voyages à la carte et aussi
                                votre propre proposition. </p>
                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 footer-col">
                        <h4 class="footer-title">Contactez-nous</h4>
                        <div class="footer-col-content">
                            <p>
                                Rue Outman Appt 10 N 586
                                40000, MARRAKECH - MOROCCO </p>
                            <ul class="list-unstyled footer-contacts">
                                <li> <span class="footer-icon"><span class="icons-phone"></span></span> +212 245 111 000
                                </li>
                                <li> <span class="footer-icon"><span class="icons-mail"></span></span>
                                    contact@ribatour.com</li>
                            </ul>

                        </div>

                    </div>

                    <div class="col-md-3 col-sm-6 footer-col">

                        <h4 class="footer-title">Suivez-nous</h4>
                        <div class="footer-col-content">



                            <ul class="list-unstyled list-inline social-list">


                                <li> <a href="http://www.facebook.com/" class="footer-icon" target="_blank"> <span
                                                class="icons-facebook"></span> </a></li>
                                <li> <a href="http://www.twitter.com/" class="footer-icon" target="_blank"> <span
                                                class="icons-twitter"></span> </a></li>
                                <li> <a href="http://www.google.com/" class="footer-icon" target="_blank"> <span
                                                class="icons-gplus"></span> </a></li>

                            </ul>

                        </div>

                    </div>


                </div>


            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div class="footer-bottom">
            <div class="footer-menu">
                <a href="index.html"> Accueil</a> |
                <a href="excursions.html">Excursions </a> |
                <a href="transferts.html">Transferts </a> |

                <a href="about-us.html">Qui sommes nous ? </a> |
                <a href="contact.html">Contact </a> |
                <a href="page/conditions.html">Conditions générales de vente</a>

            </div>


            <br>
            <div class="clearfix"></div>
            <div class="container text-center">
                <span>© 2020 RIBATOUR</span>
                <div class="clearfix"></div>
            </div>

        </div>

        <div class="clearfix"></div>


    </div>

    <div class="more-links">
        <div class="container text-center">

        </div>
    </div>
</div></div>
{% endblock %}