{% block footer %}
    <footer class="site-footer">
        <!-- /.site-footer__bg -->
        <div class="container">
            <div class="row">
                <div class="footer-widget__column footer-widget__about">
                    <a href="{{ path('ribatour') }}" class="footer-widget__logo"><img src="{{asset('images/travelagency-logo.png')}}"  alt=""></a>

                </div><!-- /.footer-widget__column -->
                <div class="footer-widget__column footer-widget__about">
                    <h3 class="footer-widget__title">Riba Tours</h3><!-- /.footer-widget__title -->
                    <p>Ribat Tours est une agence de voyages et de Tourisme, crée en Mars 1983 et agrée par le ministère de Tourisme au Maroc.
                        Ribat Tours est spécialisé dans les voyages culturels, sportifs, le trekking de tous ses genres, des séjours, des voyages
                        à la carte et aussi votre propre proposition.</p>
                </div><!-- /.footer-widget__column -->
                <div class="footer-widget__column footer-widget__links">
                    <h3 class="footer-widget__title">société</h3><!-- /.footer-widget__title -->
                    <ul class="footer-widget__links-list list-unstyled">
                        <li><a href="about.html">Qui Somme nous ?</a></li>
                        <li><a href="news.html">Conditions de vente</a></li>
                        <li><a href="about.html">Contacter Nous</a></li>
                    </ul><!-- /.footer-widget__links-list list-unstyled -->
                </div><!-- /.footer-widget__column -->
                <div class="footer-widget__column footer-widget__links">
                    <h3 class="footer-widget__title">Links</h3><!-- /.footer-widget__title -->
                    <ul class="footer-widget__links-list list-unstyled">
                        <li><a href="tour-sidebar.html">Excursions</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="faq.html">Conditions de vente</a></li>
                    </ul><!-- /.footer-widget__links-list list-unstyled -->
                </div><!-- /.footer-widget__column -->
                <div class="footer-widget__column footer-widget__links">
                    <h3 class="footer-widget__title">Contact</h3><!-- /.footer-widget__title -->
                    <a href="mailto:contact@ribatour.com">contact@ribatour.com</a> <br>
                    <a href="tel:+212 245 111 000">+212 245 111 000</a>
                    </select><!-- /#languages-2 .selectpicker -->
                </div><!-- /.footer-widget__column -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </footer><!-- /.site-footer -->

    <div class="site-footer__bottom">
        <div class="container">
            <p>@ All copyright 2020, <a href="{{ path('ribatour') }}">ribatour.com</a></p>
            <div class="site-footer__social">
                <a href="#"><i class="fab fa-facebook-square"></i><!-- /.fab fa-facebook-square --></a>
                <a href="#"><i class="fab fa-twitter"></i><!-- /.fab fa-twitter --></a>
                <a href="#"><i class="fab fa-instagram"></i><!-- /.fab fa-instagram --></a>
            </div><!-- /.site-footer__social -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__bottom -->

{% endblock %}