{% extends 'base.html.twig' %}
{% block title  %} contact {% endblock %}
{% block body %}
    <section class="page-header" style="background-image: url({{asset('images/backgrounds/ribatour-tours.jpg')}});">
        <div class="container">
            <h2>{% trans %}Who are we ?{% endtrans%}</h2>
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="tour-two tour-list destinations-details" style="text-align: center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="destinations-details__content">
                        <h3 class="destinations-details__title">{% trans %}travel agency{% endtrans %}</h3><!-- /.destinations-details__title -->
                        <p>{% trans %}Ribat Tours is a travel and tourism agency, created in March 1983 and approved by the Ministry of Tourism in Morocco.
                                {% endtrans %}</p>
                        <p>{% trans %}Ribat Tours specializes in cultural and sporting trips, trekking of all kinds, stays, à la carte trips and also your own proposal.{% endtrans %}</p>
                        </p>
                        <h3 class="destinations-details__subtitle">{% trans %}Nos Produits{% endtrans %}</h3><!-- /.destinations-details__title -->
                        <p><ul>
                            <li>
                                <div align="left">
                                    {% trans %}Trekking and hiking (Mountains and desert: portage on mules or dromedaries){% endtrans %}</div>
                            </li>
                            <li>
                                <div align="left">
                                    {% trans %} Great Desert Escape with 4x4 Jeeps{% endtrans %}</div>
                            </li>
                            <li>
                                <div align="left">
                                    {% trans %}Mountain bike raids{% endtrans %}</div>
                            </li>
                            <li>
                                <div align="left">
                                    {% trans %}Nordic skiing{% endtrans %}</div>
                            </li>
                            <li>
                                <div align="left">
                                    {% trans %}Quad Raid{% endtrans %}</div>
                            </li>
                            <li>
                                <div align="left">
                                    {% trans %}Camel trek along the Atlantic{% endtrans %}</div>
                            </li>
                            <li>
                                <div align="left">
                                    {% trans %}cultural trips by Bus or Jeep{% endtrans %}</div>
                            </li>
                            <li>
                                <div align="left">
                                    {% trans %}Meetings with Berber families{% endtrans %}</div>
                            </li>
                            <li>
                                <div align="left">
                                    {% trans %}Tailor-made or themed trips{% endtrans %}</div>
                            </li>
                            <li>
                                <div align="left">
                                    {% trans %}Luxury bivouacs in the middle of the desert{% endtrans %}</div>
                            </li>
                            <li>
                                <div align="left">
                                    {% trans %}Thalasso{% endtrans %}</div>
                            </li>
                        </ul></p>
                        <br>
                        <h3 class="destinations-details__subtitle">{% trans %}Esprit Ribat tours{% endtrans %}</h3><!-- /.destinations-details__title -->
                        <p>{% trans %}We want with an open heart and full of joy, to bring you closer to a culture of an isolated population and to share with them their pleasure of life and to let you taste the charm of the silence of nature, which they live in. keeping a traditional life and wanting to live far from any civilization by sticking to the traditions of the country. {% endtrans %}</p>
                        <br>
                        <h3 class="destinations-details__subtitle">{% trans %}Notre but{% endtrans %}</h3><!-- /.destinations-details__title -->
                        <p> {% trans %}We want with an open heart and full of joy, to bring you closer to a culture of an isolated population and to share with them their pleasure of life and to let you taste the charm of the silence of nature, that they live by keeping a traditional life and wanting to live far from any civilization by sticking to the traditions of the country.{% endtrans %} </p>                    </div></div></div></div>
                    </div><!-- /.destinations-details__content -->
                </div><!-- /.col-lg-8 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.tour-two -->


{% endblock %}