{% extends 'base.html.twig' %}
{% block title  %} contact {% endblock %}
{% block body %}
    <section class="page-header" style="background-image: url({{asset('images/backgrounds/ribatour-tours.jpg')}});">
        <div class="container">
            <h2>Qui Somme Nous ?</h2>
        </div><!-- /.container -->
    </section><!-- /.page-header -->

    <section class="tour-two tour-list destinations-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="destinations-details__content">
                        <h3 class="destinations-details__title">Transport Agency</h3><!-- /.destinations-details__title -->
                        <p>Ribat Tours est une agence de voyages et de Tourisme, cr&eacute;e en Mars 1983 et agr&eacute;e par le minist&egrave;re de Tourisme au Maroc.</p>
                        <p>Ribat Tours est sp&eacute;cialis&eacute; dans les voyages culturels, sportifs, le trekking de tous ses genres, des s&eacute;jours, des voyages &agrave;
                            la carte et aussi votre propre proposition. Ses guides dipl&ocirc;m&eacute;s et s&eacute;rieux connaissant bien le pays, vous font d&eacute;couvrir le
                            paysage grandiose vari&eacute; du Maroc&nbsp;: Les villes imp&eacute;riales, le d&eacute;sert et les montagnes o&ugrave; vit une population loin de toute
                            civilisation.</p>
                        </p>
                        <h3 class="destinations-details__subtitle">Nos Produits</h3><!-- /.destinations-details__title -->
                        <p><ul>
                            <li>
                                <div align="left">
                                    Trekking et randonn&eacute;es p&eacute;destres (Montagnes&nbsp;et d&eacute;sert:portage &agrave; dos de mules ou dromadaires)</div>
                            </li>
                            <li>
                                <div align="left">
                                    Grande &eacute;vasion du d&eacute;sert avec des &nbsp;Jeep 4x4</div>
                            </li>
                            <li>
                                <div align="left">
                                    Raids en VTT</div>
                            </li>
                            <li>
                                <div align="left">
                                    Ski de randonn&eacute;e</div>
                            </li>
                            <li>
                                <div align="left">
                                    Raid en Quad</div>
                            </li>
                            <li>
                                <div align="left">
                                    Randonn&eacute;e chameli&egrave;re le long de l&acute;Atlantique</div>
                            </li>
                            <li>
                                <div align="left">
                                    voyages culturels en Bus ou Jeep</div>
                            </li>
                            <li>
                                <div align="left">
                                    Des rencontres avec des familles Berb&egrave;res</div>
                            </li>
                            <li>
                                <div align="left">
                                    Des voyages &agrave; la carte ou &agrave; th&egrave;me</div>
                            </li>
                            <li>
                                <div align="left">
                                    Des bivouacs de luxe en plein d&eacute;sert</div>
                            </li>
                            <li>
                                <div align="left">
                                    Thalasso&nbsp;&nbsp;</div>
                            </li>
                        </ul></p>
                        <br>
                        <h3 class="destinations-details__subtitle">Esprit Ribat tours</h3><!-- /.destinations-details__title -->
                        <p>Nous voulons avec un cœur ouvert et plein de joie, vous faire rapprocher  d´une  culture d´une population isolée et de partager avec eux leur plaisir de vie et de vous laisser goûter le charme du silence de la nature, qu´ils vivent en gardant une vie traditionnelle  et voulant vivre loin de toute civilisation en s´attachant aux traditions du pays.</p>

                        <br>
                        <h3 class="destinations-details__subtitle">Notre but :</h3><!-- /.destinations-details__title -->
                        <p>Nous voulons avec un cœur ouvert et plein de joie, vous faire rapprocher  d´une  culture d´une population isolée et de partager avec eux leur plaisir de vie et de vous laisser goûter le charme du silence de la nature, qu´ils vivent en gardant une vie traditionnelle  et voulant vivre loin de toute civilisation en s´attachant aux traditions du pays.</p>
                    </div></div></div></div>
                    </div><!-- /.destinations-details__content -->
                </div><!-- /.col-lg-8 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.tour-two -->


{% endblock %}