{% extends 'base.html.twig' %}
{% block title  %} RIBATOUR {% endblock %}
{% block body %}
    <section class="banner-one" style="background-image: url({{asset('images/backgrounds/ribatour-tours.jpg')}});">
        <div class="container">
            <h2>Find your <span>next tour</span></h2>
            <p>Where would you like to go?</p>
            <form class="tour-search-one" action="http://layerdrops.com/tripo/tour-sidebar.html">
                <div class="tour-search-one__inner">
                    <div class="tour-search-one__inputs">
                        <div class="tour-search-one__input-box">
                            <label for="place">Where to</label>
                            <input type="text" placeholder="Enter keywords" name="place" id="place">
                        </div><!-- /.tour-search-one__input-box -->
                        <div class="tour-search-one__input-box">
                            <label for="when">When</label>
                            <input type="text" placeholder="September" name="when" id="when">
                        </div><!-- /.tour-search-one__input-box -->
                        <div class="tour-search-one__input-box">
                            <label for="type">Type</label>
                            <select class="selectpicker" id="type">
                                <option value="Adventure">Adventure</option>
                                <option value="Wildlife">Wildlife</option>
                                <option value="Sightseeing">Sightseeing</option>
                            </select>
                        </div><!-- /.tour-search-one__input-box -->
                    </div><!-- /.tour-search-one__inputs -->
                    <div class="tour-search-one__btn-wrap">
                        <button type="submit" class="thm-btn tour-search-one__btn">Find now</button>
                    </div><!-- /.tour-search-one__btn-wrap -->
                </div><!-- /.tour-search-one__inner -->
            </form><!-- /.tour-search-one -->
        </div><!-- /.container -->
    </section><!-- /.banner-one -->
    <section class="features-one__title">
        <div class="container">
            <div class="block-title text-center">
                <p>Call our agents to book!</p>
                <h3>Tripo Award Winning and Top <br> Rated Tour Operator</h3>
            </div><!-- /.block-title -->
        </div><!-- /.container -->
    </section><!-- /.features-one__title -->
    <section class="features-one__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
                    <div class="features-one__single">
                        <i class=" tripo-icon-tour-guide"></i>
                        <h3>8000+ Our Local <br> Guides</h3>
                    </div><!-- /.features-one__single -->
                </div><!-- /.col-lg-3 col-md-6 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                    <div class="features-one__single">
                        <i class=" tripo-icon-reliability"></i>
                        <h3>100% Trusted Tour <br> Agency</h3>
                    </div><!-- /.features-one__single -->
                </div><!-- /.col-lg-3 col-md-6 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                    <div class="features-one__single">
                        <i class=" tripo-icon-user-experience"></i>
                        <h3>28+ Years of Travel <br> Experience</h3>
                    </div><!-- /.features-one__single -->
                </div><!-- /.col-lg-3 col-md-6 -->
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                    <div class="features-one__single">
                        <i class=" tripo-icon-feedback"></i>
                        <h3>98% Our Travelers <br> are Happy</h3>
                    </div><!-- /.features-one__single -->
                </div><!-- /.col-lg-3 col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.features-one__content -->
    <section class="tour-one">
        <div class="container">
            <div class="block-title text-center">
                <p>Featured tours</p>
                <h3>Most Popular Tours</h3>
            </div><!-- /.block-title -->
            <div class="row">
                {% for excursion in excursions %}
                    <div class="col-xl-4 col-lg-6">
                        <div class="tour-one__single">
                            <div class="tour-one__image">
                                <img src="{{ asset('photos/excursions/'~excursion.images) }}" alt="">
                                <a href="tour-details.html"><i class="fa fa-heart"></i></a>
                            </div><!-- /.tour-one__image -->
                            <div class="tour-one__content">
                                <div class="tour-one__stars">
                                </div><!-- /.tour-one__stars -->
                                <h3><a href="tour-details.html">{{excursion.nom}}</a></h3>
                                <p><span>{{excursion.prixadulte}}$</span> / par personne</p>
                            </div><!-- /.tour-one__content -->
                        </div><!-- /.tour-one__single -->
                    </div><!-- /.col-lg-4 -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.tour-one -->
{% endblock %}