{% extends 'base.html.twig' %}
{% block title  %} RIBATOUR {% endblock %}
{% block body %}
    <section class="video-one" style="background-image: url({{asset('images/backgrounds/ribatour-tours.jpg')}});">
        <div class="container text-center">
            <p>{% trans %}Thank you for your trust{% endtrans %}</p>
            <h3><span>{% trans %}your reservation has been made successfully </span> <br> <span> </span> we will contact you shortly to confirm your reservation{% endtrans %}</h3>
        </div><!-- /.container -->
    </section><!-- /.video-one -->
{% endblock %}