{% extends 'base.html.twig' %}
{% block title  %} RIBATOUR {% endblock %}
{% block body %}
    <section class="video-one" style="background-image: url({{asset('images/backgrounds/ribatour-tours.jpg')}});">
        <div class="container text-center">
            <p>Merci pour ta confiance</p>
            <h3><span>votre réservation a été effectuée avec succès</span><br><span></span>nous vous contacterons prochainement pour confirmer votre réservation</h3>
        </div><!-- /.container -->
    </section><!-- /.video-one -->
{% endblock %}